{% extends "_layout.html" %}

{% block title %}
    {{ _("Forgotten password") }}
{% endblock %}

{% block content %}
<div class="center auth">
  <div class="center__item">
    <h1 class="center__title">{{ _("Forgotten password") }}</h1>
    <p class="center__subtitle">{{ _("Enter your account email, we'll send you a link to reset your password.") }}</p>
    <form class="center__form" method="POST" action="{{ url_for('forgotten_password') }}">
      <fieldset class="center__fields">
        <input type="email" name="email" placeholder="{{ _('Email address') }}" required />
        <button class="button button--secondary" type="submit">{{ _("Reset password") }}</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
