{% extends "_layout.html" %} {% block content %}
<div class="center auth">
  <div class="center__item">
    <h1 class="center__title">{{ _("Reset password") }}</h1>
    <form class="center__form" method="POST">
      <fieldset class="center__fields">
        <input type="password" name="password" placeholder="{{ _('New password') }}" required />
        <input type="password" name="confirmation" placeholder="{{ _('Confirm password') }}" required />
        <button class="button button--secondary" type="submit">{{ _("Reset password") }}</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}