{% extends "_layout.html" %}

{% block title %}
    {{ _("New post") }}
{% endblock %}

{% block content %}
<div class="center">
    <div class="center__item center__item--large">
      <h1 class="center__title">{{ _("Create a post") }}</h1>
      <form class="center__form" method="POST" action="{{ url_for('new_post') }}" enctype="multipart/form-data">
        <fieldset class="center__fields">
          <input type="text" name="title" placeholder="{{ _('Post title') }}" required />
          <div class="fileUpload">
            <input id="picture" name="picture" type="file" accept="image/*" />
            <label class="fileUpload__label is-placeholder" for="picture" data-placeholder="{{ _('Post cover image') }}"></label>
            <span class="fileUpload__reset" aria-label="{{ _('Reset') }}">
              <i class="material-icons" aria-hidden>clear</i>
            </span>
            <span class="fileUpload__button">{{ _("Choose a file...") }}</span>
          </div>
          <input type="url" name="link" placeholder="{{ _('Link') }} ({{ _('optional') }})" />
          <textarea name="content" placeholder="{{ _('Text') }} ({{ _('optional') }})"></textarea>
          <button class="button button--secondary" type="submit">{{ _("Post") }}</button>
        </fieldset>
      </form>
    </div>
</div>
{% endblock %}
